.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    
    --red:hsl(0, 78%, 62%)
    --Cyan: hsl(180, 62%, 55%)
    --Orange: hsl(34, 97%, 64%)
    --Blue: hsl(212, 86%, 64%)
}
body{
    font-family: 'poppins';
    font-size: 15px;
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    
}
H1{
    padding-top: .5em;
    padding-left: 1em;
    margin: 0;
    text-align: left;
    
}
p{
    margin-left: 1.4em;
    padding: 1em;
    text-align: left;
}
span{
    font-weight: bold;
}

.top{
    font-weight: lighter;
}
.hero{
    text-align: center;
    margin-bottom:5em;
    margin-left: 5em;
    margin-right: 5em;
    font-weight: lighter;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
}

.supervisor{
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 5px;
    border-top: solid 3px cyan;
    background-color: #fff;
    background-image: url(images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 40px;
    box-shadow: 0px 7px 7px 0px hsl(229, 6%, 66%);

}
.team-builder{
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 5px;
    border-top: solid 3px red;
    background-color: #fff;
    background-image: url(images/icon-team-builder.svg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 40px;
    box-shadow: 0px 7px 7px 0px  hsl(229, 6%, 66%);
}
.karma{
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 5px;
    border-top: solid 3px orange;
    background-color: #fff;
    background-image: url(images/icon-karma.svg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 40px;
    box-shadow: 0px 7px 7px 0px hsl(229, 6%, 66%);

}
.calculator{
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 5px;
    border-top: solid 3px blue;
    background-color: #fff;
    background-image: url(images/icon-calculator.svg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 40px;
    box-shadow: 0px 7px 7px 0px hsl(229, 6%, 66%);
}

@media screen and (min-width:1000px ) {
    .container{ 
    background-color: hsl(0, 0%, 98%);
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    height: 100vh;
    }

   .supervisor{
    top: 29em;
    left: 0em;
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 5px;
    border-top: solid 3px cyan;
    background-color: #fff;
    background-image: url(images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 40px;
    box-shadow: 0px 7px 7px 0px hsl(229, 6%, 66%);
    position: absolute;
    

     }
}
.team-builder{
    left: 26em;
    top:  19em;
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 5px;
    border-top: solid 3px red;
    background-color: #fff;
    background-image: url(images/icon-team-builder.svg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 40px;
    box-shadow: 0px 7px 7px 0px  hsl(229, 6%, 66%);
    position: absolute;
    
}
.karma{
    left: 26em;
    top:  40em;
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 5px;
    border-top: solid 3px orange;
    background-color: #fff;
    background-image: url(images/icon-karma.svg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 40px;
    box-shadow: 0px 7px 7px 0px hsl(229, 6%, 66%);
    position: absolute;

}
.calculator{
    top: 29em;
    left:  52em;
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 5px;
    border-top: solid 3px blue;
    background-color: #fff;
    background-image: url(images/icon-calculator.svg);
    background-repeat: no-repeat;
    background-position: right 50px bottom 40px;
    box-shadow: 0px 7px 7px 0px hsl(229, 6%, 66%);
    position: absolute;
}
  .heading{
      position: absolute;
      top: 0;
      left: 23em;
      width:35em;
  }
  .attribution{
    position: absolute;
    left: 37em;
    top:  85em;
   
  }